<nav class="navbar navbar-expand navbar-light bg-light">

    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page"><img src="./../assets/LogoChikito.jpg"/> <span class="visually-hidden"></span></a>
        <a class="Inicio" routerLink="inicio">Inicio</a>
       <!--  <a class="nav-item nav-link" routerLink="¿Quienes Somos?">¿Quiénes somos?</a>-->
        <!-- <a class="nav-item nav-link" routerLink="instrucciones">Instrucciónes</a> -->
        <a class="Informacion" routerLink="informacion">Información</a>

        <!-- <a name="" id="" class="btn btn-primary" href="#" role="button">Iniciar </a> -->
        <a name="Cerrar" id="" class="Cerrar" href="#" role="button">Cerrar </a>
    </div>
</nav> 
<div class="container">
    <router-outlet></router-outlet>
</div>
